body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}

.homepage {
    overflow: hidden;
    max-height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    color: rgb(129, 209, 233);
    background-color: white;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

#header-title{
    padding: 3%;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.tabs {
    font-size: 1.5em;
}


.background {
    margin-top: -7.25%;
    padding-top: 5%;
    background-image: url("./imgs/baratie_3d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    position: absolute;
    background-color: rgb(76, 83, 151);
    color: white;
    min-height: 6%;
    width: 100%;
    font-size: 1em;
    text-align: center;
}