body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.homepage {
    overflow: hidden;
    max-height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    color: rgb(129, 209, 233);
    background-color: white;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

#header-title{
    font-family: 'Merriweather', serif;
    padding: 3%;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.tabs {
    font-size: 1.5em;
}


.background {
    margin-top: -7.25%;
    padding-top: 5%;
    background-image: url("./imgs/baratie_3d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.footer {
    background-color: rgb(76, 83, 151);
    color: white;
    min-height: 6%;
    font-size: 1em;
    text-align: center;
}

/* About Page */
.about {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(248, 247, 254);
    font-size: 90%;
}
.description {
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}
#img-indoors {
    display: block;
    margin: 100px auto;
    width: 30%;
}
#img-sanji {
    display: block;
    margin: 20px auto;
    width: 13%;
}

/* Menu */
.menu {
    margin-top: 11vh;
    text-align: center;
}

.quick-nav {
    margin-bottom: 2%;
}

.title {
    font-family: 'Merriweather', serif;
    color: rgb(129, 209, 233);
    font-size: 2em;
}

.lunch-dinner, .dessert, .drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% auto;
    width: 80%;
}

.menu-item {
    flex: 0 0 calc(23.5% - 0px);
    border: 1px solid rgb(211, 171, 113);
    border-radius: 3%;
    padding: 10px;
    margin: 2%
}